.imagem-carroussel-um {
  object-fit: cover;
  object-position: 0 80%; /* eixo x e y */
  height: 400px;
}

.imagem-carroussel-dois {
  object-fit: cover;
  height: 400px;
}

.fonte-titulo {
  font-family: "Pacifico", cursive;
}

.cor-especial {
  color: darkred;
}
